.perfil {
    /*Precisamos definir a div perfil como relative para nosso menu oculto tenha a posição relativa a essa -->*/
    position: relative;
}

.perfil .perfil__menu {

    width: 340px;
    background: #333333;

}
.perfil .perfil__menu ul {
    padding: 0;
    margin: 0;
}
.perfil .perfil__menu ul li {
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.perfil .perfil__menu ul li:hover {
    background: #444444;
}

.perfil .perfil__menu ul li a {
    text-decoration: none;
    color: #ffffff;
}